html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #333533;
}

.grid-container {
  display: grid;
  grid-template-rows: 60px 1fr 40px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  color: white;
  width: 60px;
  height: 44px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  transition: linear 0.5s;

}

.sidebar.expanded {
  width: 200px;
  align-items: flex-start;
  height: 100%;
  background: #95D5B2;
  border: 5px solid #2b2d2b;
  border-radius: 10px;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 16px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 4px 0;
}

.menu a:hover {
  text-decoration: underline;
}

.header {
  grid-area: header;
  background: #333533;
  color: #FFF8E7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 80;
  font-size: 50px;
}

.main {
  grid-area: main;
  padding: 1rem;
  display: grid;
  place-items: center;
  background-color: #333533;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #95D5B2;
  width: 600px;
  height: 200px;
  border-radius: 25px;
}

textarea {
  border: 0px;
  border-radius: 30px;
  padding: 15px;
  width: 400px;
  height: 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 80;
  font-size: 25px;
  min-height: 40px;
  max-height: 150px;
  overflow-y: auto;
  min-width: 400px;
  background-color: #FFF8E7;
}

.send-button{
  background-color: #FFF8E7;
  border: 5px solid #FFF8E7; 
  border-radius: 10px;
  cursor: pointer;
  transition: linear 0.1s;
}

.send-button:hover{
  transform: scale(1.05);
  border: 5px solid #e6dfcf;
}

.SendSymbol{
width: 30px;
}

.chatList{
  padding: 10px;
}

.sideBarChatName {
  border: 2px solid #8dc8a8;
  border-radius: 5px;
  padding: 5px
}
